body {
  margin: auto;
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  height: 80%;
  max-height: 80vh;
  background-color: azure;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 20px;
  overflow-y: auto;
  margin: 2px;
}

h1 {
  font-size: 32px;
  color: grey;
  font-weight: 400;
}

#notes_container {
  width: 100%;
}

#notes_list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#notes_list li {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 15px;
  scroll-behavior: auto;
  cursor: pointer;
}

#notes_list li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-button {
  font-size: large;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 58%;
}

#add_note {
  position: absolute;
  bottom: 80px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: absolute;
  right: 38%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add_note:hover {
  background-color: grey;
}

#note_editor_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#title {
  visibility: hidden;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#note_editor {
  width: 95%;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  background-color: azure;
  outline: 0;
}

#save_note {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 5px;
}

#save_note:hover {
  background-color: #333;
}
